#root{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width:880px;
}

.memory-card{
    width: 155px;
    height: 155px;
    background-color: #f25a70;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:20px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    margin:10px;
}

.memory-card > img{
    width: 70%;
    height: auto;
}

.virado{
    border:2px solid #000;
}